.card-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #21212150;
  z-index: 3;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}
.card-modal__container {
  position: relative;
  max-width: 630px;
  gap: 32px;
  top: 204px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #fff;
  padding: 33px 50px 46px;
}
.card-modal__close {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  gap: 0px;
  opacity: 40%;
  padding: 0;
  background-image: url(../images/close-symbol.svg);
  background-color: transparent;
  border: none;
}
.card-modal__close:hover {
  opacity: 100%;
  cursor: url(../images/cursor.svg), pointer;
}
.card-modal__header {
  margin: 0 0 32px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
}
.card-modal__form {
  display: flex;
  flex-direction: column;
}
.card-modal__label {
  margin: 0 0 8px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  color: #212121;
  opacity: 70%;
}
.card-modal__input {
  margin: 0 0 32px;
  width: 604px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  border-radius: 8px;
  text-align: left;
  border: 1px solid #21212166;
  color: #212121;
  padding: 16px 12px;
}
.card-modal__input:hover {
  cursor: url(../images/cursor.svg), pointer;
  border-color: #212121;
}
.card-modal__save-button {
  margin: 0;
  height: 52px;
  width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}
.card-modal__save-button:hover {
  cursor: url(../images/cursor.svg), pointer;
}

@media screen and (max-width: 870px) {
  .card-modal__container {
    max-width: 300px;
    top: 134px;
    gap: 24px;
    margin: 0 auto;
    padding: 12px;
  }
  .card-modal__close {
    top: 12px;
    right: 12px;
  }
  .card-modal__header {
    font-size: 20px;
    margin-bottom: 34px;
    margin-top: 10px;
  }
  .card-modal__input {
    font-size: 16px;
    margin: 0 auto 24px;
    width: 250px;
  }
  .card-modal__save-button {
    height: 52px;
    width: 276px;
    min-width: 246px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .card-modal__container {
    margin: 0 10px;
  }
}
