.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #21212150;
  z-index: 3;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
}
.modal__container {
  position: relative;
  max-width: 630px;
  gap: 32px;
  top: 207px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
}
.modal__container_type_card {
  top: 200px;
  padding: 33px 50px 46px;
}
.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
}

.modal__image {
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  max-height: 925px;
  margin: 0 0 8px;
}
.modal__close {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  gap: 0px;
  opacity: 40%;
  background-image: url(../images/close-symbol.svg);
  background-color: transparent;
  border: none;
}
.modal__close:hover {
  opacity: 100%;
  cursor: url(../images/cursor.svg), pointer;
}
.modal__close_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url("../images/white-close-symbol.svg");
  opacity: 1;
  padding: 0;
}
.modal__close_type_preview:hover {
  cursor: pointer;
  opacity: 40%;
}
.modal__header {
  margin: 0 0 32px;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 8px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  color: #212121;
  opacity: 70%;
}
.modal__input {
  margin: 0 0 32px;
  width: 604px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  border-radius: 8px;
  text-align: left;
  border: 1px solid #21212166;
  color: #212121;
  padding: 16px 12px;
}
.modal__input:hover {
  cursor: url(../images/cursor.svg), pointer;
  border-color: #212121;
}
.modal__save-button {
  margin: 0;
  height: 52px;
  width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}
.modal__save-button:hover {
  cursor: url(../images/cursor.svg), pointer;
}

.modal__caption {
  width: fit-content;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: #212121;
  margin: 0;
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width: 870px) {
  .modal__container {
    max-width: 300px;
    top: 134px;
    gap: 24px;
    margin: 0 auto;
    padding: 12px;
  }
  .modal__close {
    top: 12px;
    right: 12px;
  }

  .modal__close_type_preview {
    top: -28px;
    right: 0;
  }
  .modal__header {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .modal__header_type_card {
    margin-bottom: 34px;
    margin-top: 10px;
  }
  .modal__input {
    font-size: 16px;
    margin: 0 auto 24px;
    width: 250px;
  }
  .modal__save-button {
    height: 52px;
    width: 276px;
    min-width: 246px;
    margin: 0 auto;
  }
  .modal__caption {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .modal__container {
    margin: 0 10px;
  }
}
@media screen and (max-width: 360px) {
  .modal__container_type_preview {
    padding: 0;
    margin: 0 16px;
  }
  .modal__close_type_preview {
    top: -38px;
    right: 0;
  }
  .modal__image {
    width: 288px;
  }
}
