.cards {
  padding: 20px 8px 0;
}
.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px 20px;
  max-width: 1280px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 8px 40px;
  border-bottom: 1px solid #21212166;
  list-style: none;
}
